html {
  height: 100%;
}

.task_bar {
  margin:0;
  border: solid;
  border-color: black;
  width: 1920px;
  height: 80px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

#background {
  border: solid;
  border-color: black;
  margin:0;
  width: 1920px;
  height: 1000px;
  background-repeat: repeat;
  background-size: 1%;
  background-position: 0 0;
  padding: 25px;
  box-sizing: border-box;
  justify-content: flex-start;
  display: flex;
  position: relative;
}

.background__left {
  border-radius: 15px;
  background-color: #1FA8C8;
  width: 400px;
  height: 850px;
}

.background__right {
  border-radius: 15px;
  background-color: #1FA8C8;
  width: 1000px;
  height: 850px;
}

.background__dashed {
  position: absolute;
  top: 60px;
  left: 60px;
  border: dashed;
  border-width: 3px;
  border-color: white;
  border-radius: 10px;
  background-color: transparent;
  width: 1321px;
  height: 780px;
}

.background__board {
  position: absolute;
  top: 68px;
  left: 68px;
  border: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
  background-color: #FFFFFF;
  width: 1305px;
  height: 764px;
}

.board {
  display: flex;
  flex-direction: row;
}

.board__left {
  width: 350px;
  height: 760px;
}

.content__today {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 343px;
  height: 50px;
}

.leftbox {
  margin-top: 5px;
  margin-left: 8px;
  width: 325px;
  height: 690px;
  border-radius: 15px;
  border: solid;
  border-width: 5px;
  border-color: black;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.leftbox__profile {
  width: 319px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
}

#profile {
  width: 240px;
  height: 240px;
  border-radius: 15px;
  border: solid;
  border-width: 3px;
  border-color: black;
}

.leftbox__feeling {
  width: 240px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  border: solid;
  border-width: 3px;
  border-color: black;
  box-shadow: 3px 3px 3px 0px #8C8A82;
}

.leftbox__quote {
  margin-top: 20px;
  width: 240px;
  height: 170px;
  display: flex;
  border: solid;
  border-width: 3px;
  border-color: black;
}

.leftbox__family {
  margin-top: 20px;
  width: 240px;
  height: 105px;
  display: flex;
  border: solid;
  border-width: 3px;
  border-color: black;
}

.board__right {
  margin-left: 20px;
  width: 925px;
  height: 760px;
}

.content__name {
  width: 900px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.rightbox {
  margin-top: 5px;
  width: 915px;
  height: 690px;
  border-radius: 15px;
  border: solid;
  border-width: 5px;
  border-color: black;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.rightbox__top {
  margin-top: 40px;
  width: 806px;
  height: 150px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.rightbox__top__news {
  width: 380px;
  height: 150px;
  border: solid;
  border-width: 3px;
  border-color: black;
}

.rightbox__top__bgm {
  width: 380px;
  height: 150px;
  border: solid;
  border-width: 3px;
  border-color: black;
}

.rightbox__miniroom {
  margin-top: 20px;
  width: 800px;
  height: 300px;
  border: solid;
  border-width: 3px;
  border-color: black;
}

.rightbox__todolist {
  margin-top: 20px;
  width: 800px;
  height: 120px;
  border: solid;
  border-width: 3px;
  border-color: black;
}

.background__aside {
  border-radius: 10px;
  margin-left: 75px;
  width: 300px;
  height: 300px;
}

.aside__title {
  width: 300px;
  height: 50px;
  border-radius: 5px 5px 0px 0px;
  background-color: #676568;
}

.aside__content {
  width: 300px;
  height: 175px;
  background-color: white;
}

.aside__music {
  width: 300px;
  height: 75px;
  border-radius: 0px 0px 5px 5px ;
  background-color: #E7E7E7;
}